<br>
<!--  FOOTER START --> 
<div class="footer">
   <div class="inner-footer">
 
     <div class="footer-items">
       <h1 style="color:#48ad39; font-size: 35px; font-weight: bold;">GroceryStore</h1>
     </div>
 
 <!--  for quick links  -->
     <div class="footer-items">
       <h3>Quick Links</h3>
       <div class="border1"></div> <!--for the underline -->
         <ul>
           <a routerLink="" ><li>Home</li></a>
           <a  routerLink="contact" ><li>Contact</li></a>
           <a routerLink="about" ><li>About</li></a>
         </ul>
     </div>
 
 <!--  for some other links -->
     <div class="footer-items">
       <h3>Most Clicked</h3>
       <div class="border1"></div>  <!--for the underline -->
         <ul>
           <a routerLink="menu"><li>Vegetables</li></a>
           <a routerLink="menu"><li>DairyProducts</li></a>
           <a routerLink="menu"><li>DailyNeeds</li></a>
           <a routerLink="menu"><li>Fruits</li></a>
         </ul>
     </div>
 
 <!--  for contact us info -->
     <div class="footer-items">
       <h3>Contact us</h3> 
       <div class="border1"></div> <br>
         <ul>
          
           <i class="bi bi-telephone-fill">  &nbsp; 7869120909</i> <br> <br>
           <i class="bi bi-geo-alt-fill">  &nbsp; Mumbai,Maharashtra</i> <br> <br>
           <i class="bi bi-envelope-paper-fill"> &nbsp; Support@gmail.com</i> <br> <br>
       
         </ul> 
       
   <!-- for social links -->
         <div class="social-media">
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-facebook"></i></a>
           <a href="#"><i class="fab fa-google-plus-square"></i></a>
         </div> 
     </div>
   </div>
   
 <!--   Footer Bottom start  -->
   <div class="footer-bottom">
     Copyright &copy; GroceryStore 2022.
   </div>
 </div>
 
 <!--   Footer Bottom end -->